body {
    margin-top: 40px;
    font-family: Arial, sans-serif;
    background-color: #c5e1ee;
    padding-top: 130px; /
}
body {
    zoom: 70%; /* Reduce el zoom al 80% */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1000;
}
.content {
    min-height: 100vh;
    padding-top: 50px;  /* Ajusta este valor según la altura de tu encabezado */
    /* Si el encabezado tiene 10px de padding y cualquier otro valor de altura, 
       usa un valor mayor que la altura total del encabezado */
}
.logo {
    height: 120px;
}


nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-left: 10;
    flex: 1; 
    flex-wrap: nowrap;  /* Sin margen para que esté pegado al logo */
}
html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.page-section {
    height: 100vh; /* Ocupa el 100% de la altura de la ventana *//* Ancla en el inicio al hacer scroll */
}
.page-section:nth-of-type(2) {
    background-color: #00abe4; /* Color de fondo para la segunda sección */
}
nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
}

/* Estilos para el menú */
nav {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
}

/* Inicialmente, el menú es visible solo en pantallas grandes */
@media (max-width: 768px) {
    nav {
        display: none; /* Ocultar menú por defecto en pantallas pequeñas */
        flex-direction: column;
        gap: 10px;
        width: 100%;
        position: absolute; /* Asegura que el menú se muestre fuera del flujo normal */
        top: 100%; /* Coloca el menú debajo del header */
        left: 0;
        background-color: #fff;
        opacity: 0;
        height: 0;
        transition: height 0.7s ease-out, opacity 0.7s ease-out;
        z-index: 1; /* Para asegurarse de que esté por encima de otros elementos */
    }

    nav.active {
        opacity: 1;
        height: auto;
        display: flex;
    }

    .menu-toggle {
        display: flex; 
        text-align: left;/* Mostrar el botón hamburguesa */
    }
}

/* Estilo para los enlaces del menú */
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    display: block;
}
nav.active {
    background-color: rgba(240, 240, 240, 1); /* Tono gris leve */
}

nav a:hover {
    color: #007bff;
}

/* Media queries para tamaños de pantalla más grandes */
@media (min-width: 769px) {
    .menu-toggle {
        display: none; /* Ocultar el botón de menú hamburguesa en pantallas grandes */
    }
    flex-direction: column;
    nav {
        display: flex; /* Mostrar menú por defecto en pantallas grandes */
    }
}
.content {
    text-align: center;
    margin-top: 50px;
}
.content h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #0073e6;
    margin-bottom: 20px;
    font-weight: bold;
}
.highlight-text {
    font-size: 0.8em; /* Tamaño del texto destacado */
    font-weight: bold; /* Texto en negrita */
    color: white; /* Texto en blanco */
    background-color: red; /* Fondo rojo */
    padding: 5px 10px; /* Espaciado interno */
    display: inline-block; /* Asegura que el fondo rodee solo el texto */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio entre "¿Sabías que?" y el texto principal */
    text-align: center; /* Centrar el texto si es necesario */
}
.text-overlay {
    position: absolute;
    top: 50px;
    left: 5%;
    width: 90%;
    color: white;
    text-align: justify;
    line-height: 1.4;
}

/* Tamaño de fuente proporcional en pantallas grandes */


/* Ajustes para pantallas medianas */
@media (min-width: 1001px) {
    .text-overlay {
        font-size: 1.9vw; /* Tamaño adaptado al ancho del viewport */
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; /* Ajusta el padding según lo necesites */
        background-color: #ffffff;
        border-bottom: 1px solid #e0e0e0;
        z-index: 1000;
    }
    /* Espacio extra en el body para que el contenido no se oculte debajo del header */
    #steps1, #benefits, #costs {
        scroll-margin-top: 60px; /* Ajusta a la altura de tu header */
    }

    /* Añadir espacio en el body para que el contenido no se oculte debajo del header */
    body {
        padding-top: 120px; /* Asegura que el contenido no se quede bajo el header */
    }
  
}
@media (min-width: 801px) and (max-width: 1000px){
    .text-overlay {
        font-size: 3vw; /* Tamaño adaptado al ancho del viewport */
    }
    .content { 
        transform: scale(0.75);
        transform-origin: top center; /* Mantiene el origen de la escala en la parte superior */
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; /* Ajusta el padding según lo necesites */
        background-color: #ffffff;
        border-bottom: 1px solid #e0e0e0;
        z-index: 1000;
    }
    /* Espacio extra en el body para que el contenido no se oculte debajo del header */
    #steps1, #benefits, #costs {
        scroll-margin-top: 60px; /* Ajusta a la altura de tu header */
    }

    /* Añadir espacio en el body para que el contenido no se oculte debajo del header */
    body {
        padding-top: 120px; /* Asegura que el contenido no se quede bajo el header */
    }
}

/* Ajustes para pantallas medianas */
@media (min-width: 421px) and (max-width: 800px) {
    .text-overlay {
        font-size: 3.4vw; /* Letras más grandes en tablets */
    }
    .content { 
        transform: scale(0.75);
        transform-origin: top center; /* Mantiene el origen de la escala en la parte superior */
    }

    /* Aplica el estilo fijo al header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; /* Ajusta el padding según lo necesites */
        background-color: #ffffff;
        border-bottom: 1px solid #e0e0e0;
        z-index: 1000;
    }
    /* Espacio extra en el body para que el contenido no se oculte debajo del header */
    #steps1, #benefits, #costs {
        scroll-margin-top: 60px; /* Ajusta a la altura de tu header */
    }

    /* Añadir espacio en el body para que el contenido no se oculte debajo del header */
    body {
        padding-top: 120px; /* Asegura que el contenido no se quede bajo el header */
    }
}

/* Ajustes para pantallas pequeñas (teléfonos) */
/* Media query para pantallas pequeñas */
@media (max-width: 420px) {
    /* Solo escala el contenido principal */
    .text-overlay {
        font-size: 4vw; /* Letras más grandes en tablets */
    }
    .content { 
        transform: scale(0.75);
        transform-origin: top center; /* Mantiene el origen de la escala en la parte superior */
    }

    /* Aplica el estilo fijo al header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; /* Ajusta el padding según lo necesites */
        background-color: #ffffff;
        border-bottom: 1px solid #e0e0e0;
        z-index: 1000;
    }
    /* Espacio extra en el body para que el contenido no se oculte debajo del header */
    #steps1, #benefits, #costs {
        scroll-margin-top: 60px; /* Ajusta a la altura de tu header */
    }

    /* Añadir espacio en el body para que el contenido no se oculte debajo del header */
    body {
        padding-top: 120px; /* Asegura que el contenido no se quede bajo el header */
    }
}


/* Media Queries para hacer el diseño responsive */
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }
    section-title {
        grid-template-columns: 1fr; /* Los roles se apilan en una sola columna */
        width: 100%;
    }
    nav {
        gap: 10px;
    }
    .roles-container {
        grid-template-columns: 1fr; /* Los roles se apilan en una sola columna */
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    }

    .role-box {
        font-size: 1em; /* Reducir el tamaño de la fuente */
        padding: 15px;
    }

    .portada-texto h1 {
        font-size: 1.8rem; /* Reducir el tamaño del texto en la portada */
    }

    .content h1 {
        font-size: 2rem; /* Reducir el tamaño del título */
        flex-direction: column;
    }

    .info-box {
        width: 90%; /* Hacer que el cuadro de información ocupe un poco más de espacio */
    }
}
@media (max-width: 461px) {
    .header-title {
        font-size: 1rem; /* Reducir tamaño del título si la pantalla es pequeña */
        text-align: center; /* Centrar el título en pantallas pequeñas */
        margin: 0; /* Eliminar el margen a la izquierda */
        width: 100%; /* Asegurar que el título ocupe el ancho completo */
    }
    header {
        padding: 10px 20px; /* Reducir el padding del header */
    }
}
@media (max-width: 400px) {
    .header-title {
        font-size: 0.5rem; /* Reducir tamaño del título si la pantalla es pequeña */
        text-align: center; /* Centrar el título en pantallas pequeñas */
        margin: 0; /* Eliminar el margen a la izquierda */
        width: 100%; /* Asegurar que el título ocupe el ancho completo */
    }
    header {
        padding: 10px 20px; /* Reducir el padding del header */
    }
}

.subcategory-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado entre opciones */
}
.subcategory-box {
    text-decoration: none;
    border-radius: 8px;
    padding: 19px;
    background-color: #fff; /* Sobrescrito por estilo inline */
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

.subcategory-box:hover {
    background-color: #ddd;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subcategory-content p {
    margin: 5px 0;
    font-size: 19px;
}



/* Asegura que el contenido del gráfico no desborde */



.container {
    zoom: 1.15;
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 100px auto 20px; /* Espacio extra arriba para que no se solape con el header */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button1 {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button1:hover {
    background-color: #0056b3;
}

.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.breakdown {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    text-align: left;
}
.footer {
    background-color: #044bff;  /* Fondo celeste */
    padding: 20px 0;
    color: white;
    width: 100%;
    height: 190px;
    position: relative;

}

/* Contenedor principal del footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo en la izquierda */
:root {
    --footer-padding: 30px; /* Ajusta este valor para modificar los espacios */
}
.footer-logo {
    position: absolute;
    top: 50%;
    left: 10px;
    left: var(--footer-padding); 
    transform: translateY(-50%);
}

.footer-logo img {
    height: 80px;
    object-fit: contain;
    display: block;
}
.footer-logo img {
    height: 70px;
    transition: transform 0.3s;
}

/* Efecto al pasar el mouse */
.footer-logo img:hover {
    transform: scale(1.1);
}

.footer-go img {
    height: 40px;
    transition: transform 0.3s;
}

/* Estilos de las imágenes */
.footer-images {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
    top: 50%;
    right: var(--footer-padding); 
}

.footer-images img {
    height: 40px;
    transition: transform 0.3s;
}

/* Efecto al pasar el mouse */
.footer-images img:hover {
    transform: scale(1.1);
}
/* Responsive: en pantallas pequeñas, apila elementos */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    /* Centrar el logo en pantallas pequeñas */
    .footer-logo {
        position: static; /* Evita que se salga del flujo normal */
        transform: none; /* Elimina el ajuste de altura */
        margin-bottom: 15px;
    }
    
    .footer-logo img {
        height: 60px; /* Ajusta el tamaño en pantallas pequeñas */
    }

    /* Centrar las imágenes en pantallas pequeñas */
    .footer-images {
        position: static;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; /* Espacio entre imágenes */
    }

    .footer-images img {
        height: 30px; /* Ajusta el tamaño en móviles */
    }
}
